body,
html {
	margin: 0;
	font-size: 1.2rem;
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(221, 221, 236);
}
#main {
	width: 100vh;
	height: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(221, 221, 236);
}

h1 {
	border-bottom: 2px dashed palevioletred;
	color: palevioletred;
}

#loveBTN {
	font-size: 1.2rem;
	padding: 1.2rem;
	color: rgb(255, 255, 255);
	border-radius: 10px 10px 10px 10px;
	background-color: palevioletred;
	border: dashed 2px white;
	font-family: inherit;
}

#loveBTN:hover {
	background-color: rgb(230, 133, 165);
	margin-top: -2px;
}
